<div class="container custom-container">
  <div class="col-md-12">
    
    <h3 class="mb-3 text-center">Update Employee</h3>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeeData.descripcion" class="form-control" placeholder="Descripción">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeeData.precio" class="form-control" placeholder="Precio">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeeData.cantidad" class="form-control" placeholder="Cantidad">
    </div>

    <div class="form-group">
      <select class="form-control" [(ngModel)]="employeeData.idCategoria">
        <option value="-1" disabled selected> Seleccione una opción</option>
        <option [value]="item.id" *ngFor="let item of categorias">{{item.descripcion}}</option>
      </select>
    </div>

    <div class="form-group">
      <select class="form-control" [(ngModel)]="employeeData.idUnidad">
        <option value="-1" disabled selected> Seleccione una opción</option>
        <option [value]="item.id" *ngFor="let item of unidades">{{item.descripcion}}</option>
      </select>
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="updateEmployee()">Actualizar</button>
    </div>
    
  </div>
</div>
